# Heart Disease Prediction By Mohan Kshirsagar

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import os
print(os.listdir())

import warnings
warnings.filterwarnings('ignore')

['.vscode', 'data', 'frontend', '.git', 'backend', 'docker-compose.yml', '.ipynb_checkpoints', '.dockerignore', 'Heart_Failure_Analysis.ipynb', 'README.md', '.gitignore']

# Importing and understanding our dataset

In [2]:
dataset = pd.read_csv("./data/heart.csv")

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
dataset.shape

(918, 12)

In [5]:
dataset.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [6]:
dataset.sample(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
549,68,M,TA,139,181,1,ST,135,N,0.2,Up,0
704,50,M,ASY,150,243,0,LVH,128,N,2.6,Flat,1
815,68,M,NAP,118,277,0,Normal,151,N,1.0,Up,0
561,54,M,ATA,132,182,0,ST,141,N,0.1,Up,0
557,56,M,NAP,137,208,1,ST,122,Y,1.8,Flat,1
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
303,62,F,ASY,120,0,1,ST,123,Y,1.7,Down,1
400,50,F,ASY,160,0,1,Normal,110,N,0.0,Flat,1
819,55,M,ASY,160,289,0,LVH,145,Y,0.8,Flat,1
534,59,M,ASY,125,222,0,Normal,135,Y,2.5,Down,1

In [7]:
dataset.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [9]:
dataset["HeartDisease"].describe()

count    918.000000
mean       0.553377
std        0.497414
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: HeartDisease, dtype: float64

In [10]:
dataset["HeartDisease"].unique()

array([0, 1])

In [12]:
from sklearn.model_selection import train_test_split

predictors = dataset.drop("HeartDisease",axis=1)
target = dataset["HeartDisease"]

X_train,X_test,Y_train,Y_test = train_test_split(predictors,target,test_size=0.20,random_state=0)

In [13]:
X_train.shape

(734, 11)

In [14]:
X_test.shape

(184, 11)

In [15]:
Y_train.shape

(734,)

In [16]:
Y_test.shape

(184,)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
from sklearn.ensemble import RandomForestClassifier

max_accuracy = 0


for x in range(2000):
    rf = RandomForestClassifier(random_state=x)
    rf.fit(X_train,Y_train)
    Y_pred_rf = rf.predict(X_test)
    current_accuracy = round(accuracy_score(Y_pred_rf,Y_test)*100,2)
    if(current_accuracy>max_accuracy):
        max_accuracy = current_accuracy
        best_x = x
        
#print(max_accuracy)
#print(best_x)

rf = RandomForestClassifier(random_state=best_x)
rf.fit(X_train,Y_train)
Y_pred_rf = rf.predict(X_test)

ValueError: could not convert string to float: 'M'